{% extends "base.html" %}

{% block content %}
    {% comment %} <section class="text-gray-700 body-font">
        <div class="py-16 flex flex-wrap">
            <div class="flex flex-wrap w-full">
            <div class="hidden md:block md:w-1/4 md:pr-10 md:py-6">
                {% for video in course.videos.all %}
                    {% include 'content/snippets/video_step.html' with video=video %}
                {% endfor %}
            </div>
            <div class="md:w-3/4 md:mt-0">
                <img class="w-full object-cover object-center rounded-lg" src="{{ object.thumbnail.url }}" alt="step">
                <p class="text-gray-500">{{ object.description }}</p>
            </div>
            <div class="block md:hidden w-full mt-5 py-5">
                {% for video in course.videos.all %}
                    {% include 'content/snippets/video_step.html' with video=video %}
                {% endfor %}
            </div>
        </div>
    </section> {% endcomment %}
    

  

  {% comment %} <div class="mx-auto max-w-screen-xl pt-16 px-4 sm:px-6 lg:px-8">
    <div class="flex-col items-center justify-center text-gray-800 text-center">
        <div class="flex items-center justify-center">
            <div class="h-36 w-[90%] flex items-center justify-center md:text-lg text-2xl lg:text-5xl font-bold ">Tailblocks is the best website for Tailwind CSS Blocks</div>
        </div>

        <div class="flex">
          <div class="flex md:flex-row flex-col py-4 space-x-4 space-y-2 max-w-7xl      justify-around w-full h-auto lg:h-60 items-center ">
            <div class=" w-[70%] md:w-1/2 bg-gray-200 py-10 rounded-2xl 
              flex items-center justify-center">
              <div class="flex-col  items-center px-0 md:px-6">
                  <div class="text-5xl font-bold bg-gradient-to-r from-blue-400 to-emerald-400  bg-clip-text text-transparent">
                    98%
                  </div>
                  <div class="text-md mt-8 font-bold text-gray-800">
                    Tailblocks has gained 98% users this year
                  </div>
                  <div class="text-xs text-gray-800">
                    Tailblocks has more than 15k+ visitors per month.
                  </div>
              </div>
            </div>
            <div class=" w-[70%] md:w-1/2 bg-gray-200 py-10 rounded-2xl 
              flex items-center justify-center ml-4">
              <div class="flex-col  items-center px-0 md:px-6">
                <div class="text-5xl font-bold bg-gradient-to-l from-fuchsia-500 to-orange-500  bg-clip-text text-transparent">
                  128%
                </div>
                <div class="text-md mt-8 font-bold text-gray-800">
                  Tailblocks has 128% new impressions this year
                </div>
                <div class="text-xs text-gray-800">
                  Tailblocks has more than 15k+ visitors per month.
                </div>
              </div>
            </div>
            <div class=" w-[70%] md:w-1/2 bg-gray-200 py-10 rounded-2xl 
              flex items-center justify-center ml-4">
              <div class="flex-col  items-center px-0 md:px-6">
                <div class="text-5xl font-bold bg-gradient-to-l from-fuchsia-500 to-orange-500  bg-clip-text text-transparent">
                  128%
                </div>
                <div class="text-md mt-8 font-bold text-gray-800">
                  Tailblocks has 128% new impressions this year
                </div>
                <div class="text-xs text-gray-800">
                  Tailblocks has more than 15k+ visitors per month.
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div> {% endcomment %}
	 


  <div class="mx-auto max-w-screen-xl pt-32">
    <div class="flex justify-between py-6">
      <div>
        <h1 class="text-lg font-bold text-gray-900 dark:text-white sm:text-4xl">
          {{ object.name }}
        </h1>
      </div>
        <div>
          <div class="flex justify-end ...">
             
             
            <a href="{% url 'account_login' %}">
              <button type="button" class="border border-green-500 hover:bg-green-500 hover:text-white dark:text-white font-medium rounded-lg text-sm px-5 pl-3 py-2 text-center mr-3 md:mr-0 hidden sm:block text-gray-900">Save</button>
          </a>
           </div>
        </div>
    </div>
  <div class="grid grid-cols-3 gap-4">
    <div class=" ">
      <img src="{{ object.thumbnail.url }}" alt="" class="aspect-square rounded-xl  w-full object-cover">
    </div>
    <div class="col-span-2">
      
         <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Total Sales
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">
              $4.8m
            </dd>
          </div>
  
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Official Addons
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">24</dd>
          </div>
  
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Total Addons
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">86</dd>
          </div>
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Total Sales
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">
              $4.8m
            </dd>
          </div>
  
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Official Addons
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">24</dd>
          </div>
  
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Total Addons
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">86</dd>
          </div>
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Total Sales
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">
              $4.8m
            </dd>
          </div>
  
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Official Addons
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">24</dd>
          </div>
  
          <div
            class="flex flex-col rounded-lg  px-4 py-5 text-center">
            <dt class=" text-sm mb-2 text-gray-900 dark:text-white">
              Total Addons
            </dt>
  
            <dd class="text-lg font-extrabold text-dark-900 dark:text-white md:text-5xl">86</dd>
          </div>
        </dl>
     </div>
  </div>
  </div>  
  
  
{% endblock content %}


