{% extends "base.html" %}

{% block content %}

<div class="mx-auto max-w-screen-xl px-2 pt-24">
    <div class="sm:flex sm:items-center sm:justify-between">
        <div class="block sm:hidden">
            <button
            class="flex cursor-pointer items-center gap-2  pb-1 text-gray-900 transition"
            >
            <span class="text-sm text-gray-900 dark:text-white"> Filters & Sorting </span>

            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-4 w-4"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
                />
            </svg>
            </button>
        </div>

        <div class="hiddden sm:flex sm:gap-4">
            <div class="relative">
            <details class="group [&_summary::-webkit-details-marker]:hidden">
                <summary
                class="flex cursor-pointer items-center gap-2  pb-1 text-gray-900 transition hover:border-gray-600"
                >
                <span class=" text-gray-900 dark:text-white"> Availability </span>

                <span class="transition group-open:-rotate-180 text-gray-900 dark:text-white">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                    </svg>
                </span>
                </summary>

                <div
                class="z-50 group-open:absolute group-open:top-auto group-open:mt-2 ltr:group-open:left-0"
                >
                <div class="w-96 rounded border border-gray-200 bg-white">
                    <header class="flex items-center justify-between p-4">
                    <span class=" text-gray-900 dark:text-white"> 0 Selected </span>

                    <button
                        type="button"
                        class=" text-gray-900 dark:text-white underline underline-offset-4"
                    >
                        Reset
                    </button>
                    </header>

                    <ul class="space-y-1 border-t border-gray-200 p-4">
                    <li>
                        <label
                        for="FilterInStock"
                        class="inline-flex items-center gap-2"
                        >
                        <input
                            type="checkbox"
                            id="FilterInStock"
                            class="h-5 w-5 rounded border-gray-300"
                        />

                        <span class=" font-medium text-gray-900 dark:text-white">
                            In Stock (5+)
                        </span>
                        </label>
                    </li>

                    <li>
                        <label
                        for="FilterPreOrder"
                        class="inline-flex items-center gap-2"
                        >
                        <input
                            type="checkbox"
                            id="FilterPreOrder"
                            class="h-5 w-5 rounded border-gray-300"
                        />

                        <span class=" font-medium text-gray-900 dark:text-white">
                            Pre Order (3+)
                        </span>
                        </label>
                    </li>

                    <li>
                        <label
                        for="FilterOutOfStock"
                        class="inline-flex items-center gap-2"
                        >
                        <input
                            type="checkbox"
                            id="FilterOutOfStock"
                            class="h-5 w-5 rounded border-gray-300"
                        />

                        <span class=" text-gray-900 dark:text-white">
                            Out of Stock (10+)
                        </span>
                        </label>
                    </li>
                    </ul>
                </div>
                </div>
            </details>
            </div>

            <div class="relative">
            <details class="group [&_summary::-webkit-details-marker]:hidden">
                <summary
                class="flex cursor-pointer items-center gap-2 pb-1 text-gray-900 transition hover:border-gray-600"
                >
                <span class=" text-gray-900 dark:text-white"> Price </span>

                <span class="transition group-open:-rotate-180 text-gray-900 dark:text-white">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                    </svg>
                </span>
                </summary>

                <div
                class="z-50 group-open:absolute group-open:top-auto group-open:mt-2 ltr:group-open:left-0"
                >
                <div class="w-96 rounded border border-gray-200 bg-white">
                    <header class="flex items-center justify-between p-4">
                    <span class=" text-gray-900 dark:text-white">
                        The highest price is $600
                    </span>

                    <button
                        type="button"
                        class=" text-gray-900 dark:text-white underline underline-offset-4"
                    >
                        Reset
                    </button>
                    </header>

                    <div class="border-t border-gray-200 p-4">
                    <div class="flex justify-between gap-4">
                        <label
                        for="FilterPriceFrom"
                        class="flex items-center gap-2"
                        >
                        <span class=" text-gray-900 dark:text-white">$</span>

                        <input
                            type="number"
                            id="FilterPriceFrom"
                            placeholder="From"
                            class="w-full rounded-md border-gray-200 shadow-sm sm:"
                        />
                        </label>

                        <label for="FilterPriceTo" class="flex items-center gap-2">
                        <span class=" text-gray-900 dark:text-white">$</span>

                        <input
                            type="number"
                            id="FilterPriceTo"
                            placeholder="To"
                            class="w-full rounded-md border-gray-200 shadow-sm sm:"
                        />
                        </label>
                    </div>
                    </div>
                </div>
                </div>
            </details>
            </div>
        </div>

        <div class="hidden sm:block">
            <label for="SortBy" class="sr-only">SortBy</label>

            <select id="SortBy" class="h-10 rounded dark:bg-gray-900 dark:border-gray-900 dark:text-white border-white ">
            <option>Sort By</option>
            <option value="Title, DESC">Title, DESC</option>
            <option value="Title, ASC">Title, ASC</option>
            <option value="Price, DESC">Price, DESC</option>
            <option value="Price, ASC">Price, ASC</option>
            </select>
        </div>
    </div>
    <div class="mt-2 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2
            lg:grid-cols-3  xl:gap-x-8">
        {% for course in object_list %}
        <div class="group relative block overflow-hidden shadow-sm shadow-green-500/50  rounded-md">
            <div class="flex items-center justify-between p-3">
                <div class="flex items-center space-x-2">
                    <img src="{{ course.thumbnail.url }}" alt="" class="object-cover object-center w-8 h-8 rounded-md shadow-sm dark:bg-gray-500 dark:border-gray-700">
                    <div class="-space-y-1">
                        <h2 class="text-lg text-gray-900 dark:text-white">leroy_jenkins72</h2>
                        <span class='text-base text-gray-900 dark:text-white'>Since : 6 min ago</span>
                    </div>
                </div>
                
                <div class="flex items-center space-x-3">
                    <button type="button" title="Like post" class="flex items-center justify-center dark:text-white
                    hover:bg-white hover:text-blue-500 hover:border hover:rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-facebook mt-1" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                            </svg>
                    </button>
                    
                    <button type="button" title="Share post" class="flex items-center justify-center mt-2 text-gray-900 dark:text-white hover:bg-blue-500 hover:text-white hover:border hover:rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                    </button>
                </div>
            </div>
            <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden  lg:aspect-none px-3">
                <img
                src="{{ course.thumbnail.url }}"
                alt=""
                class="aspect-square rounded-xl  w-full object-cover transition duration-500 group-hover:scale-105"
                />
            </div>
            <div class="relative p-3 text-center ">
                <a class="" href="{{ course.get_absolute_url }}">
                    <h1 class="text-2xl font-base text-gray-900 dark:text-white mt-2">
                        {{ course.name|title|truncatechars:26  }}
                    </h1>
                </a>
                {% comment %} <div class="flex flex-wrap justify-between mt-2">
                    <div class="flex items-center  text-gray-900 dark:text-white">
                        <span class='text-lg'>Since : 6 min ago</span>
                    </div>
                    <div class="flex space-x-2  text-gray-900 dark:text-white">
                            <span class='ml-2 text-lg p-1 space-x-1.5'>Sales $30k</span>
                        <span class='border-r-2 border-gray-300' ></span>
                        <span class='ml-2 text-lg p-1 space-x-1.5'>Likes 28k</span>
                        </div>
                </div> {% endcomment %}

                    <div class="mx-auto grid justify-center grid-cols-2 text-center lg:grid-cols-3 text-gray-900 dark:text-white">
                        <div class="flex flex-col justify-start m-2">
                            <p class="text-2xl">50k</p>
                            <p class="">Likes</p>
                        </div>
                        <div class="flex flex-col justify-start m-2">
                            <p class="text-2xl">3k</p>
                            <p class="">Views</p>
                        </div>
                        <div class="flex flex-col justify-start m-2">
                            <p class="text-2xl">$89K</p>
                            <p class="">Sales</p>
                        </div>
                    </div>
            </div>
        </div> 
        {% endfor %}  
    </div>
</div>







{% endblock content %}
