{% extends "base.html" %}
{% load embed_video_tags %}
{% load rmv_hours_from_timesince_tags %}
{% load cool_num %}

{% block content %}

<div class="mx-auto max-w-screen-xl px-2  pt-24">
    
    {% comment %} filter {% endcomment %}
    <div class="sm:flex sm:items-center sm:justify-between">
        <div class=" ">
            <p class="text-2xl text-gray-900 dark:text-white">Over <strong class=""> {{ object_list|length }}</strong> products</p>
        </div>
        <div class="relative">
            <details class="group [&_summary::-webkit-details-marker]:hidden">
                <summary
                class="flex cursor-pointer items-center gap-2  pb-1 text-gray-900 transition hover:border-gray-600"
                >
                <span class=" text-gray-900 dark:text-white"> Filters & Sorting </span>

                <span class="transition group-open:-rotate-180 text-gray-900 dark:text-white">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                    </svg>
                </span>
                </summary>

                <div
                class="z-50 group-open:absolute group-open:top-auto group-open:mt-2 ltr:group-open:left-0"
                >
                <div class="w-96 rounded border border-gray-200 bg-white">
                    <header class="flex items-center justify-between p-4">
                    <span class=" text-gray-900 dark:text-white"> 0 Selected </span>

                    <button
                        type="button"
                        class=" text-gray-900 dark:text-white underline underline-offset-4"
                    >
                        Reset
                    </button>
                    </header>

                    <ul class="space-y-1 border-t border-gray-200 p-4">
                    <li>
                        <label
                        for="FilterInStock"
                        class="inline-flex items-center gap-2"
                        >
                        <input
                            type="checkbox"
                            id="FilterInStock"
                            class="h-5 w-5 rounded border-gray-300"
                        />

                        <span class=" font-medium text-gray-900 dark:text-white">
                            In Stock (5+)
                        </span>
                        </label>
                    </li>

                    <li>
                        <label
                        for="FilterPreOrder"
                        class="inline-flex items-center gap-2"
                        >
                        <input
                            type="checkbox"
                            id="FilterPreOrder"
                            class="h-5 w-5 rounded border-gray-300"
                        />

                        <span class=" font-medium text-gray-900 dark:text-white">
                            Pre Order (3+)
                        </span>
                        </label>
                    </li>

                    <li>
                        <label
                        for="FilterOutOfStock"
                        class="inline-flex items-center gap-2"
                        >
                        <input
                            type="checkbox"
                            id="FilterOutOfStock"
                            class="h-5 w-5 rounded border-gray-300"
                        />

                        <span class=" text-gray-900 dark:text-white">
                            Out of Stock (10+)
                        </span>
                        </label>
                    </li>
                    </ul>
                </div>
                </div>
            </details>
        </div>
      </div>
    {% comment %} end filter {% endcomment %}

    <div class="mt-2 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2
            lg:grid-cols-3  xl:gap-x-8">
        {% for course in object_list %}
        <div class="group relative block overflow-hidden rounded-lg shadow-lg">
            <div class="flex items-center justify-between p-3">
                <div class="flex items-center space-x-2">
                    <img src="{{ course.store_logo.url }}" alt="" class="object-cover object-center w-10 h-10  rounded-lg">
                    <div class="-space-y-1">
                        <h2 class="text-lg text-gray-900 dark:text-white">leroy_jenkins72</h2>
                        <span class='text-base text-gray-900 dark:text-white'>Created : {{ course.ads_run_since|timesince    }} ago</span>
                    </div>
                </div>
                
                <div class="flex items-center space-x-3">
                    {% if course.is_faceBook %}
                        <button type="button" title="Like post" 
                            class="flex     
                            items-center justify-center dark:bg-white dark:text-blue-500 
                            text-blue-500 hover:text-white hover:bg-blue-500 rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-facebook " viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                            </svg>
                        </button>
                    {% endif %}
                    {% if course.is_tiktok %}
                        <button type="button" title="Like post" 
                            class="flex items-center justify-center text-gray-900 hover:text-white 
                            bg-gradient-to-r from-[#EE1D52] from-10% via-[#69C9D0] via-30% from-10% via-[#69C9D0] via-30%  to-[#EE1D52] to-90% rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
                            </svg>
                        </button>
                    {% endif %}
                    {% if course.is_pinterest %}
                        <button type="button" title="Like post" 
                            class="flex items-center justify-center
                            bg-[#E60023]  text-white hover:text-[#E60023] hover:bg-white rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pinterest" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z"/>
                            </svg>
                        </button>
                    {% endif %}
                    

                    

                    
                </div>
            </div>
            <div class="px-3">
                <img
                src="{{ course.product_thumbnail.url }}"
                alt=""
                class="aspect-square rounded-lg  w-full object-cover"
                />
                 {% comment %} {% video course.product_video 'tiny' %} {% endcomment %}
            </div>
            <div class="relative px-3 text-center ">
                <a class="" href="{{ course.get_absolute_url }}">
                    <h1 class="text-lg font-medium text-gray-900 dark:text-white mt-2">
                        {{ course.name_of_product|title|truncatechars:26  }}
                    </h1>
                </a>
                <div class="grid grid-cols-3 text-gray-900 dark:text-white gap-2 ">
                    <div class="flex flex-col justify-start p-2">
                        <p class="flex mx-auto text-lg font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-hand-thumbs-up-fill mr-2" viewBox="0 0 16 16">
                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                            </svg>
                            {{ course.likes|cool_num }}
                        </p>
                    </div>
                    <div class="flex flex-col justify-start p-2">
                        <p class="flex mx-auto text-lg font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-dots-fill mr-2" viewBox="0 0 16 16">
                                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                              </svg>
                            {{ course.comment|cool_num }}
                         </p>
                    </div>
                    <div class="flex mx-auto flex-col justify-start p-2">
                        <p class="flex text-lg font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye-fill mr-2" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                              </svg>
                            {{ course.views|cool_num }}
                        </p>
                    </div>
                </div>
                <button type="button" class="text-white bg-green-500 
                    hover:bg-greeen-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-green-600 dark:hover:bg-green-700 text-lg mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill mr-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                        Add to favorites
                </button>
  
           
            
            </div>
        </div> 
        {% endfor %}  
    </div>
</div>







{% endblock content %}
