{% extends "pages/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Delete" %}{% endblock %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block content %}
   <div class="mx-auto max-w-screen-sm px-2 pb-6">
          <h2 class="mt-6 text-2xl font-extrabold text-center text-gray-900 dark:text-white">
              {% trans "Delete" %}
          </h2>
      <form class="mt-8 space-y-6 text-gray-900 dark:text-white" method="POST" >
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <button type="submit"
                    class="relative flex justify-center w-full px-4 py-2 text-lg font-medium text-white bg-red-500 border border-transparent border-solid rounded-md group hover:bg-red-500">
                {% trans "Submit" %}
            </button>
        </div>
        
      </form>
   </div>
{% endblock content %}