
  <nav id="header" class="w-full z-30 top-0 py-1">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">

        <label for="menu-toggle" class="cursor-pointer md:hidden block">
            <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle" />

        <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-2" id="menu">
            <nav>
                <ul class="md:flex items-center justify-between pt-4 md:pt-0">
                    <li><a class="inline-block no-underline hover:no-underline text-xl font-medium text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:underline py-2 px-4" href="{% url 'content:course-list' %}">Product</a></li>
                    <li><a class="inline-block no-underline hover:no-underline text-xl font-medium text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:underline py-2 px-4" href="#">Pricing</a></li>
                    <li><a class="inline-block no-underline hover:no-underline text-xl font-medium text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:underline py-2 px-4" href="#">Enroll</a></li>
                </ul>
            </nav>
        </div>

        <div class="order-1 md:order-1">
            <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 text-xl " href="{% url 'content:course-list' %}">
                ADSPY
            </a>
        </div>

        <div class="order-2 md:order-3 flex items-center" id="nav-content">

            {% comment %} toggle daark mode {% endcomment %}
                <a class="inline-block no-underline" href="">
                    <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                    </button>
                </a>  
            {% comment %} end toggle daark mode {% endcomment %}
            <a class="inline-block no-underline text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:no-underline text-xl font-medium px-4" href="#">
                Login
            </a>
        </div>
    </div>
  </nav> 


