 <nav class="bg-white px-2 sm:px-4 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="mx-auto max-w-screen-xl flex flex-wrap items-center justify-between">
        {% comment %} logo {% endcomment %}
            <a href="{% url 'content:course-list' %}" class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-suit-diamond-fill text-green-500 mr-3" viewBox="0 0 16 16">
                    <path d="M2.45 7.4 7.2 1.067a1 1 0 0 1 1.6 0L13.55 7.4a1 1 0 0 1 0 1.2L8.8 14.933a1 1 0 0 1-1.6 0L2.45 8.6a1 1 0 0 1 0-1.2z"/>
                </svg>
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Icompeti</span>
            </a>
        {% comment %} end logo {% endcomment %}
        <div class="flex md:order-2 gap-4">
            
            {% comment %} toggle dark and light mode {% endcomment %}
                <button id="theme-toggle" type="button" class="hover:bg-green-100 dark:hover:bg-green-700    dark:text-white rounded-full p-2 mx-2">
                <svg id="theme-toggle-dark-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-moon-stars hidden" viewBox="0 0 16 16">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                </svg>
                <svg id="theme-toggle-light-icon" 
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-sun-fill hidden" viewBox="0 0 16 16">
                    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                </svg>
                </button>
            {% comment %} end toggle dark and light mode {% endcomment %}
            {% if user.is_authenticated %}
            {% comment %} my account dropdown  {% endcomment %}
                <div class="dropdown inline-flex relative p-1 border-2 border-gray-900 dark:border-white rounded-full">
                    <div class="relative inline-flex items-center justify-center w-8 h-8 overflow-hidden bg-green-500 rounded-full">
                        <span class="text-2xl text-white">U</span>
                    </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down dark:text-white mt-2 ml-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    <div class="dropdown-content bg-white mt-4">
                        <a href="#" class="hover:bg-green-500 text-gray-900 hover:text-white">
                            {{user.email}}
                        </a>
                        <a href="#" class="hover:bg-green-500 text-gray-900 hover:text-white">
                            My account
                        </a>
                        <a href="#" class="hover:bg-green-500 text-gray-900 hover:text-white">
                            {{ user.date_joined|timesince}} ago
                        </a>
                        <a href="#" class="hover:bg-green-500 text-gray-900 hover:text-white">
                            {% comment %} {% user_display user %} {% endcomment %}
                        </a>
                        <a href="{% url 'account_logout' %}" class="hover:bg-green-500 text-gray-900 hover:text-white">Sign out</a>
                    </div>
                </div>
            {% comment %} my account dropdown  {% endcomment %}
            {% else %}
            <a href="{% url 'account_login' %}"  class="text-gray-900 dark:text-white border-2 border-green-500 hover:bg-green-500 font-medium rounded-full text-lg px-5 py-2 text-center mr-3 md:mr-0">Login</a>

            <a href="{% url 'account_signup' %}" class="text-white bg-green-500 hover:bg-green-700 font-medium rounded-full text-lg px-5 py-2 text-center mr-3 md:mr-0  dark:hover:bg-green-500">Sign Up</a>
            {% endif %}
             {% comment %} Mobile menu button {% endcomment %}
            <div class="flex items-center md:hidden">
                <button id="toggle-menu-button" type="button" data-collapse-toggle="navbar-sticky" 
                    class="inline-flex items-center justify-center rounded-md  text-gray-900 " aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Toggle Menu</span>
                        <div id="open" class="h-5 flex flex-col items-end justify-between">
                            <span class="block h-0.5 w-8 bg-gray-900 dark:bg-white rounded-full"></span>
                            <span class="block h-0.5 w-6 mr-2 bg-gray-900 dark:bg-white rounded-full"></span>
                            <span class="block h-0.5 w-8 bg-gray-900 dark:bg-white rounded-full"></span>
                        </div>
                        <div  id="close" class="hidden h-7 flex flex-col items-end justify-between">
                            <span class="block h-0.5 w-8 bg-gray-900 dark:bg-white  rounded-full origin-left transform rotate-45 translate-y-0.5"></span>
                            <span class="block h-0.5 w-8 bg-gray-900 dark:bg-white  rounded-full origin-left transform -rotate-45 -translate-y-0.5"></span>
                        </div>
                </button>
            </div>
        {% comment %} Mobile menu button {% endcomment %}
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-lg md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                <a href="{% url 'content:course-list' %}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-green-700 md:p-0  " aria-current="page">Product</a>
                </li>
                <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                </li>
                <li>
                 <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  

   
  
  
{% block javascript %}
    <script>
        // mobile menu
        var button = document.querySelector('#toggle-menu-button');
        var menu = document.querySelector('#toggle-menu');
        var open = document.querySelector('#open');
        var close = document.querySelector('#close');

        button.addEventListener('click', (e)=>{
        menu.classList.toggle('hidden');
        open.classList.toggle('hidden');
        close.classList.toggle('hidden');
        });

        // profil user
    </script>
{% endblock %}